asgiref
beautifulsoup4
blinker
Brlapi
Brotli
certifi
chardet
click
colorama
command-not-found
configobj
cryptography
cupshelpers
dbus-python
defer
deprecation
distro
dj-database-url
Django
django-cors-headers
django-environ
django-filter
djangorestframework
eyed3
feedparser
filelock
filetype
html2text
httplib2
idna
ifaddr
IMDbPY
launchpadlib
lazr.restfulclient
lazr.uri
libevdev
louis
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
mdurl
mutagen
nemo-terminal
netaddr
netifaces
oauthlib
onboard
packaging
PAM
pexpect
pillow
powerline-status
psutil
psycopg
psycopg2-binary
ptyprocess
pyasyncore
pycairo
pycryptodomex
pycups
pycurl
pyelftools
Pygments
PyGObject
PyICU
pyinotify
PyJWT
PyNaCl
pyparsing
pyparted
pypng
python-apt
python-debian
python-gnupg
python-magic
python-xlib
pytz
pyudev
pyxdg
PyYAML
qrcode
repolib
requests
requests-file
rich
setproctitle
setuptools
sgmllib3k
six
soupsieve
sqlparse
systemd-python
termcolor
tinycss2
tldextract
typing_extensions
ubuntu-drivers-common
ufw
Unidecode
urllib3
wadllib
webencodings
websockets
wheel
xdg
xkit
xlrd
yt-dlp
