asgiref
certifi
chardet
click
colorama
cryptography
dj-database-url
Django
django-cors-headers
django-environ
django-filter
djangorestframework
filelock
filetype
httplib2
idna
oauthlib
packaging
pillow
psycopg
psycopg2-binary
pycryptodomex
PyJWT
pytz
PyYAML
requests
requests-file
setuptools
six
sqlparse
urllib3
wheel
